.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 

.text-line, .saved-schema {
    display: flex;
    flex-wrap: nowrap;
}

.setting-block {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.text-block {
    background-color: #f1f1f1;
    border-radius: 5px;
    border-width: 3px;
    border-color: #ccc;
    border-style: solid;
}
.num-block {
    text-indent: 7px;
    margin-right: 7px;
    font-weight: bold;
    font-size: 17px;
    width: 30px;;

}

.text-line {
    margin: 5px;
    font-size: 16px;
}

.num-check {
    margin: 5px;
    background: #ddd;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    margin-left: 55px;

}
.label-plus, .label-minus {
    font-size: 17px;
    font-weight: bold;
    margin: 0 10px;
}
.label-minus {
    margin-right: 12px;
}
.label-plus {
    margin-right: 21px;
}

input[type="checkbox"] {
 transform:scale(1.3);
 opacity:0.9;
  cursor:pointer;
}

#all-count, #calc-formula, #max-num, .after-vis{
    display: none;
}
.formula-container{
    display: flex;
}

.formula-name, .formula, .formula-result, .name-schema, .count-num, .count-minus, .count-plus, .result {
    margin-right: 10px;
}

.formula-result, .result {
    font-size: 20px;
}
.formula-container, .saved-schema {
    margin: 7px;
}